@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Daniel Ramirez</h1>
    <p>Aprenda Acerca de <a href="https://platzi.com/blog/uso-redes-neuronales/" target="_blank">Redes Neuronales...</a>.</p>
</div>
